
<div class="container">
<mat-toolbar class="navbar" color="primary">
    <!-- <a 
    [routerLink]="'/'" mat-icon-button 
    class="example-icon" 
    aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a> -->
    <span >Task App </span>
    <!-- <a  
    [routerLink]="'/addTask'"
    mat-icon-button class="example-icon favorite-icon ml" aria-label="Example icon-button with heart icon">
     Add Task
    </a> -->
    <div class="btns">
      <span class="btnV">
    <button style="color: rgb(5, 99, 25); background-color: rgb(229, 236, 230);"  [routerLink]="'/addTask'" class="btn" mat-flat-button color="primary"class="ml20" > Add Task
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      
    </button>
  </span>

    <!-- <a  class="view"
    [routerLink]="'/viewTask'"
    mat-icon-button class="example-icon favorite-icon mr ml" aria-label="Example icon-button with heart icon"> -->
        <!-- <mat-icon  id="eye" aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon> -->

    <!-- View Task
</a>   -->
<span class="btna">
<button style="color: rgb(5, 99, 25); background-color: rgb(229, 236, 230);"  [routerLink]="'/viewTask'" class="btn" mat-flat-button color="primary"class="ml20" > View Task
  
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon>
  
  </button>
</span>
</div>

  </mat-toolbar>
</div>
  
